.footer{
    width: 100%;
    padding: 20px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}

.footer-top{
    font-size: 25px;
}
.footer-top__a{
    display: flex;
    text-decoration: none;
    color:#fff;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    cursor: pointer;
}

.footer-top__h3{
    font-weight: 500;
}

.social{
    width: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    column-gap: 150px;
    font-size: 25px;
}

.social__i{
    transition: 0.5s;
}
.social__i:hover{
    transform: rotate(360deg);
}

.footer-bottom{
    text-align: center;
}

@media screen and (max-width:800px){
    .social{
        justify-content: space-evenly;
        column-gap: 0px;
    }
}