<!-- Footer -->
<footer class="footer bg-third primary-color">
    <!-- Footer top -->
    <div class="footer-top primary-font">
        <a (click)="reload()" title="home" class="footer-top__a">
            <h3 class="footer-top__h3">Dragon</h3>
            <img src="assets/logo-dragon-7.png" class="logo">
            <h3 class="footer-top__h3">Gallery</h3>
        </a>
    </div>
    <!-- Social networks -->
    <div class="social">
        <a href="https://www.instagram.com/maxihborrajo/" class="primary-color"><i
                class="fa-brands fa-instagram social__i"></i></a>
        <a href="https://www.linkedin.com/in/maximiliano-borrajo" class="primary-color"><i
                class="fa-brands fa-linkedin social__i"></i></a>
        <a href="https://github.com/MaxiBorrajo" class="primary-color"><i
                class="fa-brands fa-github social__i"></i></a>
    </div>
    <!-- Footer bottom -->
    <div class="footer-bottom secondary-font">
        <p>Copyright &copy;2023 Maximiliano Borrajo. Designed by Maximiliano Borrajo</p>
    </div>
</footer>