.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    align-items: center;
    padding: 0 30px;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    column-gap: 2px;
    cursor: pointer;
}

.logo{
    width: 25px;
    height:auto;
}

.button:hover{
    background:rgba(255,255,255,0.7);
}

input {
    max-width: 100%;
    padding: 7.5px;
    border: none;
    outline: 0 none;
}

input:focus,
input[type]:focus {
    border: none;
    outline: 0 none;
}

.actions{
    display: flex;
    align-items: center;
    column-gap: 10px;
}