.card{
    display: flex;
    flex-direction:column;
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.1);
    position: relative;
    max-height: 100%;
    max-height: 100%;
}

.img-container{
    max-width: 100%;
    height:200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    position: relative;
}

.video-container{
    max-width: 100%;
    height:200px;
    cursor: pointer;
    position: relative;
}

#download{
    text-decoration: none;
}

.select{
    position: absolute;
    top: 2%;
    right: 2%;
    z-index: 2;
}

.title{
    max-width: 100%;
    padding: 10px;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title__h1{
    font-size:15px;
    overflow-wrap: break-word;
    max-width: 100%;
    line-height: 100%;
    text-overflow: ellipsis;
    padding-right: 5px;
}

.options{
    border: none;
    outline: none;
    background: none;
    transition: 0.5s;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    display: flex;
    align-items:center;
    justify-content:center;
    color: #E5FCFF;
}

.options:hover{
    color: rgba(229, 252, 255, 0.5);
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}