.img--thumbnail, .extra{
    position: relative;
    width: 150px;
    height: 100px;
}

.extra{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background: rgba(111, 90, 220, 0.1);
}

.icon-remove-image{
    position: absolute;
    top: 1%;
    right: 2%;
    font-size: 15px;
    background:none;
    border:none;
    outline:none;
}

.spinner{
    font-size: 20px;
    text-align: center;
}

.preview{
    display: grid;
    row-gap: 5px;
    grid-template-columns: 25% 25% 25% 25%;
}

.new{
    max-width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 30% 70%;
    column-gap: 10px;
}

.dragger{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
    border: 5px dashed rgba(111, 90, 220, 1);
    padding: 20px;
}

.col13{
    grid-column: 1/3;
}

.no-images{
    padding: 0 100px;
}

.icon{
    font-size:25px;
}

.btn-browse{
    background: none;
    text-align: center;
    outline: none;
    border: 2px solid rgba(111, 90, 220, 1);
    cursor: pointer;
    padding: 7px;
    font-weight: 500;
}

.preview-dashboard{
    display: flex;
    justify-content: center;
    row-gap: 5px;
    flex-direction: column;
}

.preview-dashboard__h5{
    font-size: 15px;
    text-align: start;
}

.preview-dashboard__actions{
    display: flex;
    column-gap: 5px;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
}

@media (min-width: 490px) and (max-width: 914px){
    .dragger{
        text-align: center;
    }

    .preview{
        display: grid;
        row-gap: 5px;
        grid-template-columns: 32% 32% 32%;
    }
}

@media (min-width: 490px) and (max-width: 706px){
    .preview{
        display: grid;
        row-gap: 5px;
        grid-template-columns: 50% 50%;
    }

    .new{
        grid-template-columns: 40% 60%;
    }
}

@media (min-width: 490px) and (max-width: 580px){
    .dragger{
        text-align: center;
    }

    .new{
        grid-template-columns: 50% 50%;
    }

    .preview{
        display: flex;
        overflow-x: scroll;
        column-gap: 10px;
        row-gap: 0;
    }

    .img--thumbnail, .extra{
        position: relative;
        min-width: 150px;
        height: 100px;
    }
    
}